.App {
  text-align: center;
}

.App-header {
  background-color: #0f0f0f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #242341; */
}
